body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  height: 20rem;
  width: 15rem;
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
